soap/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name = "Wallet"
	targetNamespace = "http://localhost:8000/service"
	xmlns = "http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns = "http://localhost:8000/service"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
>

	<message name = "RegisterUser">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "RegisterUserResponse">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "Login">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "LoginResponse">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "GetStatus">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "GetStatusResponse">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "AddFunds">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "AddFundsResponse">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "Pay">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "PayResponse">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "ConfirmPay">
		<part name = "data" type = "xsd:string"/>
	</message>
	<message name = "ConfirmPayResponse">
		<part name = "data" type = "xsd:string"/>
	</message>

	<portType name = "WalletServicePort">
		<operation name = "RegisterUser">
			<input message = "tns:RegisterUser"/>
			<output message = "tns:RegisterUserResponse"/>
		</operation>
		<operation name = "Login">
			<input message = "tns:Login"/>
			<output message = "tns:LoginResponse"/>
		</operation>
		<operation name = "GetStatus">
			<input message = "tns:GetStatus"/>
			<output message = "tns:GetStatusResponse"/>
		</operation>
		<operation name = "AddFunds">
			<input message = "tns:AddFunds"/>
			<output message = "tns:AddFundsResponse"/>
		</operation>
		<operation name = "Pay">
			<input message = "tns:Pay"/>
			<output message = "tns:PayResponse"/>
		</operation>
		<operation name = "ConfirmPay">
			<input message = "tns:ConfirmPay"/>
			<output message = "tns:ConfirmPayResponse"/>
		</operation>
	</portType>

	<binding name = "WalletServiceSOAP" type = "tns:WalletServicePort">
		<soap:binding 
			style = "rpc"
			transport = "http://schemas.xmlsoap.org/soap/http"
			/>
		<operation name = "RegisterUser">
			<soap:operation soapAction = "RegisterUser"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
		<operation name = "Login">
			<soap:operation soapAction = "Login"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
		<operation name = "GetStatus">
			<soap:operation soapAction = "GetStatus"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
		<operation name = "AddFunds">
			<soap:operation soapAction = "AddFunds"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
		<operation name = "Pay">
			<soap:operation soapAction = "Pay"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
		<operation name = "ConfirmPay">
			<soap:operation soapAction = "ConfirmPay"/>
			<input>
				<soap:body
					use = "literal"/>
			</input>
			<output>
				<soap:body
					use = "literal"/>
			</output>
		</operation>
	</binding>

	<service name = "WalletService">
		<documentation>Archivo WSDL para el servicio SOAP de la Virtual Wallet</documentation>
		<port binding = "tns:WalletServiceSOAP" name = "WalletServicePort">
			<soap:address
				location = "http://localhost:8000/service" />
		</port>
	</service>
</definitions>
